.App {
  text-align: center;
}

.todoForm{
  display: inline-block;
  width: 50%;
  height: 50%;
  margin-top: 50px ;
  margin-bottom: 50px;
}

.todoForm h3{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: indigo;
}

.form-container{
  margin: 2% 5% 2% 5%;
}

.todo-element{
  display: flex;
  justify-content: flex-start;
  margin: 2% 5% 2% 5%;
}
.todo-element div{
  border: 1px darkgrey solid;
  border-radius: 5px;
  width: 80%;
}
.todo-element p{
  margin-top: 2%;
  margin-left: 2%;
  text-align:left;
}
